@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: url("img2.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height:100vh;
    background-color: seagreen;
}

.wrapper {
    width:420px;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    color: #fff;

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);

    padding: 30px;
}

.wrapper h1 {
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    margin: 30px 0;

    z-index: 3;
}

.wrapper .input-box {
    position: relative;

    width: 100%;
    height: 50px;

    margin: 0 0 15px 0;
}

.wrapper #password {
    margin: 0 0 40px 0;
}

.input-box input {
    width: 100%;
    height: 50px;

    background: rgba(252, 233, 255, 0.05);
    outline: none; border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    color: #fff;

    font-size: 15px;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    
    padding: 20px;

    transition: 0.2s;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box input:hover {
    background: rgba(252, 233, 255, 0.15);
    transition: 0.2s;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);

    color: #fff;
}

.remember-forget {

    display: flex;
    justify-content: space-between;
    font-size: 14.5px;

    padding: 0 5px 0 5px;

    margin: -15px 0px 20px 0;
    color: #fff;
}

.remember-forget input {
    cursor:pointer;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 50px;

    border-radius: 45px;
    background-color: rgb(255, 51, 95);
    outline: none; border: none;

    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);

    font-size: 15px;
    font-weight: 500;
    color: #fff;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    margin: 0px 0px 20px 0px;

    cursor: pointer;

    transition: 0.2s;
}

.btn:hover {
    background: #fff;
    color: #000;
    font-weight: 500;
    
    transition: 0.15s;
}

.register-link {
    display: flex;
    justify-content: center;
    font-size: 14.5px;

    color: #fff;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

