@font-face {
    font-family: "Gotham-Medium";
    src: url("./Fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("./Fonts/Gotham-Font/Gotham-Thin.otf");
}

@font-face {
    font-family: "Gotham-Book";
    src: url("./Fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("./Fonts/Gotham-Font/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham-Black";
    src: url("./Fonts/Gotham-Font/Gotham-Black.otf");
}

* {
    margin: 0;
    padding: 0;
}

.Sidebar #models-section {
    background-color: rgba(255,255,255,0.05);
    border-style: solid;
    border-color: rgba(255,255,255,0.15);
    border-width: 0 0 1px 0;

    transition: 0.25s;
}

.Sidebar #models-section img {
    opacity: 0.75;

    transition: 0.25s;
}

.Sidebar #models-section p {
    color:white;

    transition: 0.25s;
}


.Page {
    display: block;

    position: absolute;
    bottom: 10%;

    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 83%;
}

.Page #page-name {
    display: block;
    height: 75px;

    margin-top: 50px;

    border-width: 0 0 1px 0;
    border-style: solid; 
    border-color: rgba(50, 50, 50, 1);
}


.Page #page-name #title {
    display: block;
    position: relative;

    height: 50%;
}

.Page #page-name #description {
    display: block;
    position: relative;

    height: 50%;
}


.Page #page-name #title img {
    display: inline-block;

    vertical-align: middle;

    position: absolute;
    height: 100%; 
}

.Page #page-name #title p {
    display: inline-block;
    position: absolute;
    
    margin-left: 50px;

    vertical-align: middle;

    font-family: Gotham-Book;
    font-size: 30px;

    color: white;
}


.Page #page-name #description #text1 {
    display: inline-block;
    position: absolute;
    
    margin-left: 5px;
    margin-top: 5px;

    vertical-align: middle;

    font-family: Gotham-Book;
    font-size: 20px;

    color: #5a5a5a;
}

.Page #page-name #description #text1 span {
    margin-left: 5px;

    border-bottom: 1px solid #45bbff;
    
    color: #00a2ff;

    cursor: pointer;
}

.Page #page-name #description #text2 {
    display: inline-block;
    position: absolute;
    right: 0;
    
    margin-top: 5px;
    
    vertical-align: middle;

    font-family: Gotham-Book;
    font-size: 20px;

    color: #00a2ff;
    text-align: right;
}



.Page #product-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    top: 2%;

    width: 100%;
    height: 79%;
}

.product {
    display: inline-block;
    position: relative;

    margin-right: 10px;

    width: 30%;
    height: 100%;

    border-radius: 5px;

    background-color: #00000077;

    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.product img {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 50%; transform: translateX(-50%);
    
    width: 85%;

    border-radius: 5px;
}

.product #product-title {
    display: inline-block;
    position: absolute;
    top: 275px;
    left: 50%; transform: translateX(-50%);

    margin-top: 15px;

    width: 90%;

    padding-top: 15px;

    vertical-align: middle;

    font-family: Gotham-Book;
    font-size: 30px;
    text-align: center;
    
    color: white;

    border-top: 1px solid rgba(255,255,255, 0.15);
}

.product #product-description {
    display: inline-block;
    position: absolute;
    top: 350px;

    margin-left: 25px;
    margin-right: 25px;
    
    padding-bottom: 10px;

    vertical-align: middle;

    font-family: Gotham-Book;
    font-size: 20px;
    text-align: center;

    color: #5a5a5a;
}


.Download-Button {
    padding: 10px 20px 10px 20px;

    position: absolute;
    bottom: 7%;
    left: 50%; transform: translateX(-50%);

    width: 150px;
    height: 50px;

    

    line-height: 30px;
    text-align: center;
    font-family: Gotham-Medium;
    font-size: 15px;
    color: white;

    background: linear-gradient(#00a2ff, #007eff);
    border-radius: 100px;
    border:none;

    cursor: pointer;
    transition: 0.2s;
}

.Download-Button:hover {
    padding: 10px 20px 10px 20px;
    
    width: 165px;
    height: 65px;
    transition: 0.2s;
}

#Link {
    position: absolute;
    bottom: 3%;
    left: 50%; transform: translateX(-50%);

    font-family: Gotham-Book;
    font-size: 14px;

    color: #00a2ff;
    text-align: center;

    cursor: pointer;
}