* {
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Footer {
    display: block;

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 100px;

    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
}

.Footer p {
    display: inline-block;

    position: absolute;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    font-family: Gotham-Book;
    font-size: 20px;

    color: rgba(255,255,255,0.35);
    
}

.Footer #seperator-1 {
    display: inline-block;

    position: absolute;
    top: 65%;
    left: 48.13%;

    transform: translate(-50%, -50%);

    color: rgba(255,255,255,0.15)
}

.Footer #seperator-2 {
    display: inline-block;

    position: absolute;
    top: 65%;
    right: 48.13%;

    transform: translate(50%, -50%);

    color: rgba(255,255,255,0.15)
}

.Footer #twitter {
    padding: 0;
    margin-right: 10px;

    position: absolute;
    top: 65%;
    left: 46.5%;
    
    transform: translate(-50%, -50%);
    
    width: 25px;

    border-radius: 100px;
    background: none;
    opacity: 0.35;

    cursor: pointer;

    transition: 0.25s;
}

.Footer #twitter:hover {
    padding: 10px;
    
    background-color: rgb(0, 162, 255);
    opacity: 1;

    transition: 0.25s;
}

.Footer #youtube {
    padding: 0;
    margin-left: 10px;

    position: absolute;
    top: 65%;
    left: 49.5%;

    transform: translate(-50%, -50%);

    width: 25px;

    border-radius: 100px;
    background: none;
    opacity: 0.35;

    cursor: pointer;

    transition: 0.25s;
}

.Footer #youtube:hover {
    padding: 10px;
    
    background-color: rgb(255, 0, 0);
    opacity: 1;

    transition: 0.25s;
}

.Footer #discord {
    padding: 0;
    margin-left: 10px;

    position: absolute;
    top: 65%;
    left: 53%;
    
    transform: translate(-50%, -50%);

    width: 25px;

    border-radius: 100px;
    background: none;
    opacity: 0.35;

    cursor: pointer;

    transition: 0.25s;
}

.Footer #discord:hover {
    padding: 10px;

    background-color: rgb(111, 101, 255);
    opacity: 1;

    transition: 0.25s;
}



