@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Inter";

    color: #fff;
}

body {
    overflow: visible;
}

.background-image {

    position: absolute;
    width: 100%;
    height: 100%;

    background: url("../Images/roblox\ backdrop.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.background-image .hue {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 90, 255, 0.25);
    mix-blend-mode: overlay;    
}

.background-image .darken {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.65);
    mix-blend-mode: normal;
}





.header {

    position: fixed;
    width: 100%;
    height: 80px;

    background-color: rgb(17, 17, 17, 0.623);
    backdrop-filter: blur(5px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    
    z-index: 2;
}

.header .left {

    display: flex;
    align-items: center;

    position: absolute;
    left: 0px;

    width: 100%;
    height: 100%;

    padding-left: 30px;
}

.header .left img {
    border-radius: 100%;

    height: 65px;
    width: 65px;
}










.footer {
    display: flex;
    justify-content: space-between;

    background-color: #111111;
    border-top: 1px solid #333333;

    position: absolute;
    width: 100%;

    padding: 50px 100px 77px 100px;
}


.footer .socials {
    
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
}

.footer .socials .platforms img {
    width: 24px;
    height: 24px;

    margin-right: 10px;

    opacity: 50%;

    transition: 0.25s;
}

.footer .socials .platforms img:hover {
    width: 24px;
    height: 24px;

    margin-right: 10px;

    opacity: 100%;

    transition: 0.25s;
}



.footer .products {

    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
}



.footer .portfolio {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-grow: 1;
    
    height: 100%;
}



.footer .resources {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-grow: 1;
    
    height: 100%;
}



.footer p {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 20px;
}

.footer a {
    font-size: 16px;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.75);

    cursor: pointer;
    text-decoration: none;

    transition: 0.25s;
}

.footer i {
    font-size: 16px;
    font-weight: 400;

    color: rgba(255, 120, 42, 0.75);

    cursor: pointer;
    text-decoration: none;

    transition: 0.25s;
}

.footer a:hover {

    color: rgba(255, 255, 255, 1);
    text-decoration: underline;

    transition: 0.25s;
}

.footer div {
    margin-bottom: 10px;
}
