@font-face {
    font-family: "GothamBook";
    src: url(./Fonts/Gotham-Font/GothamBook.ttf);
}

@font-face {
    font-family: "GothamMedium";
    src: url(./Fonts/Gotham-Font/GothamMedium.ttf);
}

@font-face {
    font-family: "GothamBold";
    src: url(./Fonts/Gotham-Font/GothamBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #051741;
    overflow: hidden;
}

body #copyright {
    font-family: "GothamBook";
    font-size: 10px;
    color: #fff;
}

.cover {
    display: inline-block;
    width: 100%;
    height: 100%;

    position: fixed;

    mix-blend-mode: soft-light;
    opacity: 25%;
    z-index: 0;
}


.container { 
    background: linear-gradient(#145aff, #0f43bd);

    display: block;
    height: 550px;
}

.container #logo { 
    display: inline-block;

    position: absolute;
    top: 75px;
    left: 80px;

    transform: translateY(-50%);

    height: 65px;

    z-index: 1;
}

.container #topbar {
    display: inline-block;

    position: absolute;
    top: 75px;
    right: 165px;

    transform: translateY(-50%);

    height: 50px;

    z-index: 1;
}

.container #topbar button {
    margin-left: 5px;

    padding-left: 22px;
    padding-right: 22px;

    background: none;
    border: none;
    border-radius: 25px;

    display: inline-block;
    height: 45px;

    position: relative;
    top: 50%;

    transform: translateY(-50%);


    font-family: "GothamMedium";
    font-size: 20px;
    text-align: center;
    color: #fff;

    transition: 0.5s;
}

.container #topbar button:hover {
    padding-left: 22px;
    padding-right: 22px;

    background: #ffffff38;
    border: none;
    border-radius: 25px;

    display: inline-block;
    height: 45px;

    position: relative;
    top: 50%;

    transform: translateY(-50%);


    font-family: "GothamMedium";
    font-size: 20px;
    text-align: center;
    color: #fff;

    cursor: pointer;
    transition: 0.5s;
}

.container #topbar #home {
    background-color: #fff;
    color: #051741;

    transition: 0.5s;
}

.container #topbar #home:hover {
    background-color: #cacaca;
    color: #051741;

    transition: 0.5s;
}


.container #content {
    display: inline-block;

    position: absolute;
    top: 150px;

    width: 100%;
    height: 400px;

    z-index: 0;
}

.container #content #greeting {
    background: none;
    border: none;

    display: flex;

    position: relative;
    top: 25%;
    left: 175px;

    transform: translateY(-50%);


    font-family: "GothamMedium";
    font-size: 16px;
    color: #fff; 
}

.container #content #quote {
    background: none;
    border: none;

    display: inline-block;

    position: relative;
    top: 32%;
    left: 170px;

    transform: translateY(-50%);


    font-family: "GothamBold";
    font-size: 65px;
    color: #fff; 
}

.container #content #introductionLine {
    background: none;
    border: none;

    display: flex;

    position: relative;
    top: 32%;
    left: 175px;

    transform: translateY(-50%);


    font-family: "GothamBook";
    font-size: 25px;
    line-height: 115%;
    color: #fff; 
}

.container #content button {
    padding-left: 30px;
    padding-right: 30px;

    background-color: #051741;
    border: none;
    border-radius: 50px;

    display: inline-block;
    height: 55px;

    position: relative;
    top: 40%;
    left: 175px;

    transform: translateY(-50%);


    font-family: "GothamMedium";
    font-size: 20px;
    text-align: center;
    color: #fff;

    cursor: pointer; 
    transition: 0.5s;
}

.container #content button:hover {
    padding-left: 30px;
    padding-right: 30px;

    background-color: #ffffff;
    border: none;
    border-radius: 50px;

    display: inline-block;
    height: 55px;

    position: relative;
    top: 40%;
    left: 175px;

    transform: translateY(-50%);


    font-family: "GothamMedium";
    font-size: 20px;
    text-align: center;
    color: #051741;

    transition: 0.5s;
}

.container #content #vectorArt {
    display: flex;

    position: relative;
    bottom: 45%;
    left: 59%;

    height: 90%;

    mix-blend-mode: screen;

    z-index: 1; 
}




.page {
    background-color: #051741;

    display: block;
    height: 200px;
}

.page #shadow {
    background: linear-gradient(#0000005b, #00000000);

    display: flex;
    height: 25px;
    width: 100%;
}

.page #countdown {
    display: inline-block;

    position: relative;
    top:  77%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 250px;
}

.page #countdown li {
    margin-left: 25px;
    margin-right: 25px;

    display: inline-block;

    list-style-type: none;

    font-family: "GothamMedium";
    font-size: 30px;
    color: #fff; 
}

.page #countdown li span {
    display: block;
    font-size: 50px;
    line-height: 120%;

    text-align: center;
}



.bottom { 
    background-color: #030f2b;
    height: 200px;
    width: 100%;
}

.info {
    background-color: none;
    
    display: flex;
    justify-content: space-around;

    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100px;
    width: 80%;
}

.info #contact {
    display: block;

    text-align: left;
}

.info #company {
    display: block;

    text-align: left;
}

.info #customer {
    display: block;

    text-align: left;
}

.info #connect {
    display: block;
    text-align: center;
}


.info li {
    list-style: none;
}

.info #title {
    margin-bottom: 20px;

    font-family: "GothamMedium";
    font-size: 15px;
    color: #145aff;
}

.info #button {
    margin-bottom: 10px;

    font-family: "GothamBook";
    font-size: 15px;
    color: #fff;

    background: none;
    border: none;

    cursor: pointer;
    transition: 0.5s;
}

.info #button:hover {
    text-decoration: underline;

    transition: 0.5s;
}

.info #connect a {
    margin-left: 5px; 
    margin-right: 5px;

    width: 35px;
    height: 35px;

    display: inline-block;

    background: none;
    border: none;
}

.info #connect a img {
    display: block;

    width: 25px;
    height: 25px;

    position: relative;
    top: 25%;
    left: 50%;
    right: 50%;

    transform: translate(-50%, -50%);

    background: none;
    border: none;

    cursor: pointer;
    transition: 0.2s;
}

.info #connect a img:hover {
    display: block;

    width: 35px;
    height: 35px;

    position: relative;
    top: 25%;
    left: 50%;
    right: 50%;

    transform: translate(-50%, -50%);

    background: none;
    border: none;

    transition: 0.2s;
}
