@font-face {
    font-family: "Gotham-Medium";
    src: url("./Fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("./Fonts/Gotham-Font/Gotham-Thin.otf");
}

@font-face {
    font-family: "Gotham-Book";
    src: url("./Fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("./Fonts/Gotham-Font/Gotham-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
}



.Navigation {
    width: 100%;
    height: 10%;

    background-color: rgba(255,255,255,0.025);
    backdrop-filter:blur(5px);

    box-shadow: 0 5px 5px rgba(0,0,0,0.5);

    position: fixed;

    z-index: 5;
}

.Navigation #nexus-icon {
    width: 35px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.Navigation #more-icon {
    width: 25px;

    position: absolute;
    top: 50%;
    left: 35px;

    transform: translate(-50%, -50%);

    cursor: pointer;
    transition: 0.15s;
}

.Navigation #more-icon:hover {
    width: 30px;

    transition: 0.15s;
}

.Navigation #check {
    visibility: hidden;
}



.Navigation #contact-button {
    width: 100px;
    height: 35px;

    position: absolute;
    top: 50%;
    right: 15px;

    transform: translateY(-50%);

    border: none;
    border-radius: 100px;

    font-family: Gotham-Book;
    font-size: 17px;

    background: none;
    color: white;

    cursor: pointer;
    transition: 0.25s;
}

.Navigation #contact-button:hover {
    background-color: rgba(255,255,255,0.05);

    transition: 0.25s;
}




.Sidebar {
    position: fixed;
    height: 90%;
    width: 250px;
    bottom: 0;
    left: -251px;

    background-color: rgba(23,23,23,0.75);
    backdrop-filter: blur(5px);

    z-index: 4;
    transition: 0.25s;
}

.Sidebar div {
    position: relative;
    width: 100%;
    height: 50px;
    
    margin-top: 5px;

    background-color: none;
    border-style: solid;
    border-color: rgba(255,255,255,0.05);
    border-width: 0 0 1px 0;

    cursor: pointer;
    transition: 0.25s;
}

.Sidebar div p {
    position: absolute;

    top: 50%;
    left: 62.5px;
    transform: translateY(-50%);

    text-align: center;
    font-family: Gotham-Book;
    color:gray;

    transition: 0.25s;
}

.Sidebar div img {
    position: absolute;

    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    width: 25px;
    height: 25px;
    
    background:none;
    opacity: 0.5;

    transition: 0.25s;
}

.Sidebar div:hover {
    border-style: solid;
    border-color: rgba(255,255,255,0.25);
    border-width: 0 0 1px 0;

    transition: 0.25s;
}


.Sidebar #home-section {
    background-color: rgba(255,255,255,0.05);
    border-style: solid;
    border-color: rgba(255,255,255,0.15);
    border-width: 0 0 1px 0;

    transition: 0.25s;
}

.Sidebar #home-section img {
    opacity: 0.75;

    transition: 0.25s;
}

.Sidebar #home-section p {
    color:white;

    transition: 0.25s;
}

.Sidebar #about-section {
    position: absolute;
    bottom: 60px;

    transition: 0.25s;
}

.device-size {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: Gotham-Medium;
    text-align: center;
    color:white;
}

@media only screen and (max-width: 600px) {
    .device-size {
        color: purple;
    }

    .Navigation {
        width: 100%;
        height: 25%;
    }

    .Navigation #more-icon {
        width: 60px;
        left: 75px;
    }

    .Sidebar {
        position: fixed;
        height: 75%;
        width: 1000px;
        bottom: 0;
        left: -1001px;
    }
}

@media only screen and (min-width: 601px) {
    .device-size {
        color: lightgreen;
    }

    .Navigation {
        width: 100%;
        height: 10%;
    }

    .Navigation #more-icon {
        width: 50px;
        left: 65px;
    }

    .Sidebar {
        position: fixed;
        height: 90%;
        width: 1000px;
        bottom: 0;
        left: -11001px;
    }
}

@media only screen and (min-width: 768px) {
    .device-size {
        color: yellow;
    }

    .Navigation {
        width: 100%;
        height: 10%;
    }

    .Navigation #more-icon {
        width: 40px;
        left: 55px;
    }

    .Sidebar {
        position: fixed;
        height: 90%;
        width: 750px;
        bottom: 0;
        left: -751px;
    }
}

@media only screen and (min-width: 992px) {
    .device-size {
        color: orange;
    }

    .Navigation {
        width: 100%;
        height: 7%;
    }

    .Navigation #more-icon {
        width: 35px;
        left: 45px;
    }

    .Sidebar {
        position: fixed;
        height: 93%;
        width: 500px;
        bottom: 0;
        left: -501px;
    }
}

@media only screen and (min-width: 1200px) {
    .device-size {
        color: red;
    }

    .Navigation {
        width: 100%;
        height: 5%;
    }

    .Navigation #more-icon {
        width: 35px;
        left: 45px;
    }

    .Sidebar {
        position: fixed;
        height: 95%;
        width: 250px;
        bottom: 0;
        left: -251px;
    }
}