@font-face {
    font-family: "Gotham-Medium";
    src: url("./Fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham-Thin";
    src: url("./Fonts/Gotham-Font/Gotham-Thin.otf");
}

@font-face {
    font-family: "Gotham-Book";
    src: url("./Fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("./Fonts/Gotham-Font/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham-Black";
    src: url("./Fonts/Gotham-Font/Gotham-Black.otf");
}

* {
    margin: 0;
    padding: 0;
}

.Page #introduction-quote {
    position: absolute;
    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    font-family: Gotham-Black;
    font-size: 75px;
    color: white;
}

.Page #introduction-quote span{
    color: #00a2ff;
}


.Page #introduction-line {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    line-height: 30px;
    text-align: center;
    font-family: Gotham-Thin;
    font-size: 30px;
    color: white;
}


.Page #view-product-button {
    padding: 5px 15px 5px 15px;

    position: absolute;
    top: 60%;
    left: 50%;

    width: 150px;
    height: 50px;

    transform: translate(-50%, -50%);

    line-height: 30px;
    text-align: center;
    font-family: Gotham-Medium;
    font-size: 15px;
    color: white;

    background: linear-gradient(#00a2ff, #007eff);
    border-radius: 100px;
    border:none;

    cursor: pointer;
    transition: 0.2s;
}

.Page #view-product-button:hover {
    padding: 10px 20px 10px 20px;
    
    width: 165px;
    height: 65px;
    transition: 0.2s;
}


.Page #introduction-line2 {
    position: absolute;
    top: 85%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    font-family: Gotham-Book;
    font-size: 20px;
    color: gray;
}

.Page #introduction-line2 span {
    text-decoration: underline;
    color: #00a2ff;

    cursor: pointer;
}

.Page #introduction-line2 {
    position: absolute;
    top: 85%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    font-family: Gotham-Book;
    font-size: 20px;
    color: gray;
}

.Page #introduction-line2 span {
    text-decoration: underline;
    color: #00a2ff;

    cursor: pointer;
}

@media (max-width: 600px) {
    .Page #view-product-button {
        position: absolute;
        top: 60%;
        left: 50%;
    
        width: 300px;
        height: 100px;
    
        transform: translate(-50%, -50%);
        
        font-size: 30px;
    }
    

    .Page #introduction-line2 {
        position: absolute;
        top: 85%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    
        width: 500px;

        font-size: 25px;
    }
}

@media (min-width: 750px) {

    .Page #view-product-button {    
        position: absolute;
        top: 60%;
        left: 50%;
    
        width: 300px;
        height: 100px;
    
        transform: translate(-50%, -50%);
    
        font-size: 30px;
    }
    

    .Page #introduction-line2 {
        position: absolute;
        top: 85%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    
        width: 1000px;

        font-size: 25px;
    }
}

@media (min-width: 1200px) {

    .Page #view-product-button {    
        position: absolute;
        top: 60%;
        left: 50%;
    
        width: 150px;
        height: 50px;
    
        transform: translate(-50%, -50%);
    
        font-size: 15px;
    }
    
    .Page #introduction-line2 {
        position: absolute;
        top: 85%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    
        width: 750px;

        font-size: 20px;
    }
}