* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #000;
}

p {
    display: inline-block;

    position: absolute;
    right: 50%;
    bottom: 50%;

    transform: translate(50%, 50%);

    color: #fff;
    font-size: 50px;
    text-align: center;
}