@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}

* {
    margin: 0;
    padding: 0;

    font-family: "Segoe UI";
    text-decoration: none;
}

:root {
    --accent: #0078D4;
    --darkAccent: #015ea5;

    /* Background */
    --background: #f5f5f5;
    --headerBackground: #ffffff;
    --overlay: #f3f3f3;
    --frameBackground: #ffffff;
    --frameBorder: #0000001f;  

    /* Border */
    --searchBorder: #0000001a;
    --headerBorder: #0000001f;

    /* Text */
    --title: #242424;
    --text: #333333;
    --descriptionTitle: #666666;
    --descriptionSubTitle: #242424;
    --description: #363636;
    --infoText: #aaaaaa;
    --infoBold: #747474;
    --altText: #919191;
    --descriptionBold: #666666;
    --dropdownText: #525252;
    --profileText: #475569;
    --valueText: #475569;
    --categoryText: #363636;
    --buttonText: #ffffff;
    --searchPlaceholderText: #333333a1;
    --searchText: #333333;
    --hoverText: #000000;


    /* Navigation */
    --navigationText: #242424c7;


    /* Star */
    --star: #475569;
    --unstar: #bbbbbb;


    /* Footer */
    --footerBackground: #eaeaea;
    --footerBorder: #aaaaaa;
    --footerTitle: #242424;
    --footerText: #333333;
    --footerSocials: #4755699e;
}
