.header-shadow {
    box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.15);
}

.header-border {
    border-bottom: 1px solid var(--headerBorder);
}




@media screen and (min-width: 200px) and (max-width: 1080px) {     
    header { 
        position: sticky;
        height: 114px;
    
        background-color: var(--headerBackground); 
        box-sizing: border-box;
        z-index: 5;
    }
    
    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    header .left {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 40px;
    
        height: 100%;
        width: auto;
    }
    
    header .right {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 40px;
    
        height: 100%;
        width: auto;
    }




    header .logo { 
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 15px;
    
        font-size: 45px;
        font-weight: 600;
        letter-spacing: -0.2px;
        color: #242424;
    
        margin-left: 25px;
    }
    
    header .logo img {
        width: 60px;
        height: 60px;
    }
    
    header .right .navbar-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        margin-right: 25px;
    
        background: transparent;
        outline: none;
        border: none;
    
        cursor: pointer;
    }
    
    header .right .navbar-toggle span {
        width: 50px;
        height: 5px;
    
        background-color: #333333;
    }
    
    
    
    header .left .nav {
        display: none;
    }
    
    header .left .nav.active {
        display: flex;
        flex-direction: column;
    
        position: fixed;
        top: 114px;
        width: 100%;
        padding-top: 30px;
    
        background-color: var(--headerBackground);
    }    
    
    header .right .nav {
        display: none;
    }
    
    
    
    header .left .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 100%;
        padding: 0 30px 0 25px;
    
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #ffffff00;
    
        font-size: 16px;
        font-weight: 600;
        color: var(--navigationText);
        
        cursor: pointer;
        transition: ease 0.1s;
    }
    
    header .left .tag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        width: 100%;
        padding: 40px 0;
    
        font-size: 40px;
        font-weight: 600;
        text-align: left;
        color: var(--navigationText);
    }
    
    header .left .tag svg {
        width: 35px;
    
        transition: ease 0.1s;
    }
    
    header .left .tag svg path {
        fill: var(--description);
    }
    
    header .left .dropdown-box {
        width: 100%;
        height: 100%;
        padding: 0 30px 0 25px;
    
        background: var(--background);
        border-bottom: 2px solid #ffffff00;
    
        transition: ease 0.1s;
    }
    
    header .left .dropdown-box .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 100%;
    
        font-size: 16px;
        font-weight: 600;
        color: var(--navigationText);
        
        cursor: pointer;
    }
    
    header .left .dropdown-box .content a {
        align-content: center;
    
        width: 100%;
        height: 50px;
        padding: 40px 0;
    
        font-size: 40px;
        font-weight: 600;
        text-align: left;
        color: var(--navigationText);
    }
    
    header .left .link {
        align-content: center;
    
        width: 100%;
        height: 50px;
        padding: 40px 30px 40px 25px;
    
        font-size: 40px;
        font-weight: 600;
        text-align: left;
        color: var(--navigationText);
    }
    
    header .left .link p {
        font-size: 40px;
        font-weight: 600;
        text-align: left;
        color: var(--navigationText);
    }
}

@media screen and (min-width: 1081px) {

    @media screen and (min-width: 1081px) and (max-width: 1499px) {
        header {
            padding: 0 30px 0 25px;
        }
    }

    @media screen and (min-width: 1500px) {
        header {
            padding: 0 331.5px;
        }
    }

    header { 
        position: sticky;
        height: 57px;

        background-color: var(--headerBackground); 
        box-sizing: border-box;
        z-index: 5;

        transition: 0.1s;
    }

    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        position: relative;
        width: 100%;
        height: 100%;
    }

    header .left {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 40px;

        height: 100%;
        width: auto;
    }

    header .right {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 40px;

        height: 100%;
        width: auto;
    }




    header .logo { 
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    header .logo p {
        margin-top: 5px;

        font-family: "Josefin Sans";
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.2px;
        text-align: center;
        color: var(--title);
    }

    header .logo img {
        width: 30px;
        height: 30px;
    }



    header .left .nav {
        display: flex;
        align-items: center;
        gap: 40px;

        height: 100%;
    }

    header .right nav {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 40px;
        
        height: 100%;
    }



    header .left .link {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        border-bottom: 2px solid #ffffff00;

        font-size: 16px;
        font-weight: 600;
        color: var(--navigationText);
        
        cursor: pointer;
        transition: ease 0.1s;
    }

    header .left .link:hover {
        border-bottom: 2px solid var(--accent);
        color: var(--accent);
        transition: ease 0.1s;
    }




    header .left .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;

        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid #ffffff00;

        font-size: 14px;
        font-weight: 500;
        color: var(--navigationText);

        cursor: pointer;
        transition: ease 0.1s;
    }

    header .left .dropdown:hover {
        border-bottom: 2px solid var(--accent);
        transition: ease 0.1s;    
    }




    header .left .tag {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 40px 0;

        font-size: 16px;
        font-weight: 600;
        color: var(--navigationText);
    }

    header .left .dropdown.hovered .tag {
        color: var(--accent);
    }

    header .left .tag svg {
        width: 10px;
        margin-left: 8px;
        transition: ease 0.1s;
    }

    header .left .tag svg path {
        fill: var(--description);
    }

    header .left .dropdown.hovered .tag svg {
        rotate: -180deg;
        transition: ease 0.1s;
    }

    header .left .dropdown.hovered .tag svg path {
        fill: var(--accent);
    }




    header .left .dropdown img {
        width: 10px;
        margin-right: 8px;
        transition: ease 0.1s;
    }

    header .left .dropdown.hovered img {
        rotate: -180deg;
        transition: ease 0.1s;
    }




    header .left .dropdown-box {
        display: none;

        position: absolute;
        padding-top: 65px;
    }

    header .left .dropdown.hovered .dropdown-box {
        display: flex;

        position: absolute;
        top: 0;
    }

    header .left .dropdown-box .content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 8px; 

        background-color: var(--headerBackground);
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }

    header .left .dropdown-box .content a {
        display: flex;
        justify-items: left;

        padding: 8px 15px;

        background-color: transparent;
        border-radius: 8px;
        color: var(--dropdownText);
        text-decoration: none;
    }

    header .left .dropdown-box .content a:hover {
        background-color: var(--background);
    }




    header .right .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        height: 16px;
        padding: 8px 16px;

        background-color: var(--accent);
        border-radius: 4px;
    }

    header .right .button:hover {
        background-color: var(--darkAccent);
    }
        
    header .right .button svg {
        width: 15px;
        
        font-size: 15px;
        font-weight: 600;
        color: var(--buttonText);
    }

    header .right .button p {
        width: auto;
        height: auto;
        
        font-size: 15px;
        font-weight: 600;
        color: var(--buttonText);
    }

    header .right .navbar-toggle {
        display: none;
    }
}

header {
  order: -1;
}